body {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

header {
  position: fixed;
  width: 100%;
  font-size: 1.32vw;
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  padding-top: 240px;
}

header a {
  margin-right: 1.04vw;
}

article {
  margin: auto;
  width: 1440px;
}

h3 {
  font-size: 30px;
  font-weight: normal;
  margin: 0 0 10px 0;
}

p {
  font-size: 24px;
  margin: 0;
  line-height: 1.5;
}